@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="main-content">
            <div class="header">
                <input type="text" placeholder="Search..." />
                <div class="user-info">
                    John Doe <span class="profile-icon">👤</span>
                </div>
            </div>
            <div class="content">
                @Body
            </div>
        </div>
    </main>
</div>

<style>
 
    .main-content {
        background-color: #F2F1F2;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .header {
        background-color: #ffffff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .header input {
            background-color: #F2F1F2;
            padding: 5px;
            font-size: 16px;
            width: 300px;
            border-radius: 10px;
            border: none;
        }

    .user-info {
        display: flex;
        align-items: center;
    }

        .user-info .profile-icon {
            margin-left: 10px;
        }

    .content {
        padding: 20px;
        overflow-y: auto;
    }

    .nav-scrollable {
        background-color: white
    }

    .nav-link.active {
        color: #FF6F00;
        background-color: #FF6F00;
    }

    .top-row.ps-3.navbar-dark {
        background-color: white;
    }

    .navbar-dark .navbar-brand {
        color: #212529;
        font-weight: bold;
    }

        .navbar-dark .navbar-brand:hover {
            color: #212529;
        }

    .nav-item[b-srj6zv88n6] .nav-link {
        background-color: #F2F1F2;
        color: #212529;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

        .nav-item[b-srj6zv88n6] .nav-link:hover {
            background-color: #FFAE70;
        }

    .nav-item[b-srj6zv88n6] a.active {
        background-color: #FF6F00;
        color: white;
        border-radius: 10px;
    }

</style>

