@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-content">
        <header class="header">
            <div class="search-bar">
                <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="Search" aria-label="Search">
                    <i class="bi bi-search search-icon"></i>
                </div>
            </div>
            <div class="user-info">
                <p>John Doe</p>
                <div class="profile-icon">
                    <img class="user-img" src="images/user.jpeg" alt="Brandstof Cafe" />
                </div>
            </div>
        </header>
        <div class="content">
            @Body
        </div>
        <footer class="footer">
            <div class="footer-container">
                
                <div class="footer-links">
                    <a href="/privacy-policy">Privacy Policy</a>
                    <a href="/terms-conditions">Terms & Conditions</a>
                    <a href="/cookies-settings">Cookies Settings</a>
                </div>
                   
                <div class="footer-social">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>
                <div>
                    <span>© 2024 Brandstof Cafe. All Rights Reserved.</span>
                </div>
            </div>
        </footer>
    </main>
</div>