
.nav-scrollable {
    background-color: #1a1f26;

}

.nav-scrollable .flex-column .nav-item .nav-link .active {
    color: #FF6F00;
    background-color: #FF6F00;
}

.top-row.ps-3.navbar-dark {
    background-color: white;
    border-right: 1px solid #ccc;
}

.navbar-dark .navbar-brand {
    color: #212529;
    font-weight: bold;
}


.nav-link {
    border-radius: 10px;
}

.nav-item .nav-link {
    background-color: #F2F1F2;
    color: #212529;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav-item .nav-link:hover {
    background-color: #FFAE70;
    color: black;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-item a.active {
    background-color: #FF6F00;
    color: white;
    border-radius: 10px;
}

.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}


.navbar-brand {
    height: auto;
    width: auto;
    margin: 10px auto;
}

.navbar-brand img {
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.bi {
    display: flex;
    position: relative;
    margin-right: 0.5rem;
}

.nav-item {
    font-size: .9em;
    font-weight: 550;
    padding-bottom: 0.4rem;
    margin: 0 2px;
    
}

.nav-item nav-icon {
    color: black;
    font-size: 1.25rem;
    align-content: center;
    align-items: center;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}


.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item ::deep a.active {
    background-color: #FF6F00;
    color: white;
    border-radius: 10px !important;

}

.nav-item ::deep .nav-link:hover {
    background-color: #4a321f;
    transition: all 0.3s ease;
    border-radius: 10px !important;
}

.nav-item ::deep .nav-link:not(:hover) {
    transition: all 0.3s ease;
    border-radius: 10px !important;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 1180px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
