@page "/Dashboardsales" 
@using ChartJs.Blazor.BarChart

<PageTitle>Dashboard</PageTitle>

<!--Titel dashboard-->
<div class="dashboard">
    <div class="left-panel">
        <div class="Dashboard">
            <h1>Dashboard overview</h1>
        </div>
    </div>
</div>

<!--Today sales-->
<section>
    <div class="container-fluid card">
        <div class="row">
            <div class="col-6">
                <div class="card-body">
                    <h5><b>Today's Sales</b></h5>
                </div>
            </div>
            <div class="col-6">
                <div class="card-body text-end">
                    <button class="export-button">Export</button>
                </div>
            </div>
        </div>

        <!-- Sales boxes row -->
        <div class="row sales-row">
            <div class="col-2">
                <div class="sales-box box-1">Box 1</div>
            </div>
            <div class="col-2">
                <div class="sales-box box-2">Box 2</div>
            </div>
            <div class="col-2">
                <div class="sales-box box-3">Box 3</div>
            </div>
            <div class="col-2">
                <div class="sales-box box-4">Box 4</div>
            </div>
            <div class="col-2">
                <div class="sales-box box-5">Box 5</div>
            </div>
        </div>
    </div>
</section>
<!-- Grafiek Sectie -->
<section>
    <div class="container-fluid card">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <h5><b>Verkoop Grafiek</b></h5>
                    <div class="chart-container">
                        <Chart Config="_config"></Chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<style>
    .export-button {
        background-color: #FF6F00;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
    }

    .sales-row {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 45px; 
        margin-left: 30px;
        margin-right: 30px;
    }

    .sales-box {
        color: black;
        width: 12vw;
        height: 12vw; 
        text-align: center;
        border-radius: 40px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-1 {background-color: #FFE2E5;}
    .box-2 {background-color: #FFF4DE;}
    .box-3 {background-color: #DCFCE7;}
    .box-4 {background-color: #F3E8FF;}
    .box-5 {background-color: #bde4f1;}

    .chart-container {
        position: relative;
        height: 400px;
        width: 100%;
    }
</style>

@code {
/*

 Eten = 1
 Drinken = 2 
 
 alchol 3 
 vegan 4
 lactose 5


 */

}
