/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h3 {
    color: #333;
    text-align: center;
    margin: 20px 0;
}

/* Orders Board Styles */
.orders-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.orders-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 300px;
}

    .orders-card ul {
        list-style-type: none;
        padding: 0;
        max-height: 300px;
        overflow-y: auto;
    }

    .orders-card h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .orders-card ul {
        list-style-type: none;
        padding: 0;
    }

        .orders-card ul li {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 3px;
            margin-bottom: 5px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .orders-card ul li button {
                background-color: #28a745;
                border: none;
                border-radius: 3px;
                color: #fff;
                cursor: pointer;
                padding: 5px 10px;
                font-size: 14px;
            }

                .orders-card ul li button:hover {
                    background-color: #218838;
                }

/* Completed Product Styles */
.completed {
    color: #bbb;
    text-decoration: line-through;
}

/* Completed Order Styles */
.completed-order {
    color: #bbb;
}
