 .card-padding {
    margin: 5px;
    border-radius: 1.25rem;
}

.menu-item {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FF6F00;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}


.generic-button {
    background-color: #FF6F00;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.Barstyle {
    margin-trim: block;
}

.Text-padding {
    padding-top: 10px;
}

.Status-Completed {
    color: #064E3B;
    background-color: #ECFDF5;
    border-radius: 10px;
    text-align: center;
    width: auto;
    padding: 10px;
}

.Status-Progress {
    color: #FF5C00;
    background-color: #fcdbc9;
    border-radius: 10px;
    text-align: center;
    width: auto;
    padding: 10px;
}

.Status-Pending {
    color: gray;
    background-color: #fff9c4;
    border-radius: 10px;
    text-align: center;
    width: auto;
    padding: 10px;
}

.card-maxheight{
    max-height: 280px;
    overflow-y: auto;
    padding: 10px;
}