.fixed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 8px;
    background-color: #1a1f26;
}

.fixed-container h3 {
    color: white;
    margin: 2rem;
}

.orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    gap: 0.8rem;
}

.main-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
    margin: 2rem 0;

}

.orders-card {
    background-color: #27333f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 100%;
    max-width: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.todo-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-content:center;
    margin: 0.1rem 0.5rem;
}

.product-list-title-wrapper {

    display: flex;
    justify-content: space-between;
    align-content:center;
    margin: 1rem 0;

}

.todo-table-status-container {
    
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0.5rem 0;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.4rem;


}

.order-details-wrapper {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    flex: 0 0 auto;
    gap: 10px;
    height: 70px;
    max-height: 70px;
}

.cancel-btn {
    color: white;
    background-color: darkred;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    height: 80%;
    width: 100%;
}

.cancel-btn:hover {
    scale: 1.1;
    transition: all ease-in-out 0.2s;
}

.cancel-btn:NOT(:hover) {
    transition: all ease-in-out 0.2s;
}

.cancel-btn.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.serve-btn {
    color: darkgreen;
    background-color: lightgreen;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    height: 80%;
    width: 100%;
}

.serve-btn:hover {
    scale: 1.1;
    transition: all ease-in-out 0.2s;
}

.serve-btn:NOT(:hover) {
    transition: all ease-in-out 0.2s;
}

.serve-btn.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.orders-card .disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.orders-card h4 {
    margin: 0;
}

.orders-card h5 {
    margin: 0;
    font-weight: normal;
}

.orders-card ul {
    padding: 0;
    list-style: none;
}

.orders-card ul li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.status_pending, .status_in-progress, .status_completed, .status_served, .status_cancelled {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
    max-width: 80px;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: clamp(1px, 2.5vw, 0.7rem);
    margin: 0.4rem 0;
}


.info-cards-wrapper {

    height: 300px;
    margin: 2rem 0;
}

.info-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    flex-direction: row;
    height: 100%;
}

.info-cards-card {
    background-color: #27333f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: white;

}

.main-section-subtitle {
    
    color: white;
    font-size: 1.5rem;

}

.main-section-text {
    margin: 2rem 0;
}

.main-section-text-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    color: white;
    text-align: center;
    margin: 2rem 0;
}

.main-section-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    width: 30%;
    height: 100%;
}

.main-section-btn {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #ee7721;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-section-btn:hover {
    scale: 1.1;
    transition: all ease-in-out 0.2s;
}

.main-section-btn:NOT(:hover) {
    transition: all ease-in-out 0.2s;
}

.orders-card .completed-product {
    text-decoration: line-through;
    color: #999;
}

.orders-card .status_completed {
    color: #064e3b;
    background-color: #ecfdf5;
}


/* Container and card styles */
.container-fluid, .container {
    width: 100%;
    height: 100%;
    background-color: #1a1f26;
}

.main-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
    margin: 1rem 0;

}

.main-section-contaioner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
    margin: 2rem 0;
}

.main-section-title-text {
    color: white;
    font-weight: bold;
}



.bottom-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
}


.bottom-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    gap: 10px;
    background-color: #1a1f26;
    border-radius: 8px;
}


.bottom-section-cards-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5rem;
}


.bottom-section-card {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 300px;
    background-color: #27333f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    color: white;
    max-width: 450px;
    margin: 1rem;

}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-colour {
    background-color: #f8f9fa;
}

.card-padding {
    padding: 20px;
}

.text-colour {
    color: #343a40;
}

.generic-button {
    background-color: #ee7721;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.generic-button:hover {
    background-color: #ff8c42;
}



@media (min-width: 1100px) {

    .orders-section {
        padding: 20px;
        align-content: start !important;
    }


    .order-count-cards {
        gap: 5rem;
        flex-direction: row;
    }

    .btns-container {
        flex-direction: row;
        gap: 20px;
    }

    .status_pending, .status_in-progress, .status_completed, .status_served, .status_cancelled {
        height: 24px;
        margin: 0.1rem 0;
    }

    .orders-container {
        align-content: start;
        justify-content: left;
    }
}


@media (max-width: 762px) {
    .col-md-6, .col-md-4 {
        width: 100%;
        padding: 0 15px;
    }

    .d-flex.flex-row {
        flex-direction: column;
        align-items: center;
    }

    .card h3, .card h5, .card p {
        text-align: center;
    }


    .status_pending, .status_in-progress, .status_completed, .status_served, .status_cancelled {
        max-width: 100px;
    }
}

@media (max-width: 576px) {
    .text-center {
        padding: 0 10px;
    }
    .status_pending, .status_in-progress, .status_completed, .status_served, .status_cancelled {
        max-width: 100px;
    }
}



