@page "/"

<PageTitle>Home</PageTitle>


<div class="container-fluid text-center card">
    <p class="card-body">Hier komt de order bar</p>
</div>

<br/>
<br/>


<section>
<div class="container-fluid card">
    <!--Dit is de Welcome gedeelte-->
    <div class="row">
        <div class="col-6 align-top">
               <h1 class="card-body"><b>Welcome to Brandstof Cafe</b></h1>
        </div>
        <!--Hier komt een afbeelding-->
        <div class="col-6">
            <img src="#" class="img-rounded card-body" alt="Brandstof Thumbnail" />
        </div>
    </div>
        <br/>
        
    <div class="col-6">
        <p class="text-center"><b>Check out our menu and place your order directly</b></p>
    </div>
        <br/>
    
    <!--Order en Menu knoppen-->
    <div class="row-cols-4">
        <div class="text-center col-6">
            <button>Order</button>
          
            <button>Menu</button>
        </div>
    </div>
            <br/>
    <!--2de gedeelte van de eerste card-->
    <div class="row text-center">
        <h2><b>Order quickly and easily</b></h2>
            <br/>
        <h12><b>Follow these simple steps to place your order</b></h12>
    </div>
            <br/>

    <!--Order uitleg cards-->
        <div class="container">
            <div class="row text-center">
                <div class="col-3">
                    <div class="card h-100 card-padding">
                        <h3 class="text-start">1</h3>
                        <h5 class="text-start"><b>Enter your table number</b></h5>
                        <br />
                        <p class="text-start" style="font-size:small">First enter your table number</p>
                        <br />
                        <p class="text-start" style="font-size:small"><a href="#">Order Now  ></a></p>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card h-100 card-padding">
                        <h3 class="text-start">2</h3>
                        <h5 class="text-start"><b>Select a product and extra options</b></h5>
                        <br />
                        <p class="text-start" style="font-size:small">Select your product and any addons, place your order in the shopping cart</p>
                        <br />
                    </div>
                </div>

                <div class="col-6">
                    <div class="card h-100 card-padding">
                        <div class="d-flex flex-row">
                            <img src="#" class="rounded col-6" alt="Step 3 image" />
                            <div class="col-6">
                                <h3 class="text-start">3</h3>
                                <h5 class="text-start"><b>Confirm, pay and wait for your order</b></h5>
                                <br />
                                <p class="text-start" style="font-size:small">You're almost there! Just make the payment, and we'll bring your food to you as soon as it's ready. You will also receive an email with the confirmation</p>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
</div>
</section>

<br />
<br />

<!--your last order, deals and popular products zijn hier onder allemaal te vinden-->
<section>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-4">
                <div class="card card-padding">
                    <h6><b>Your Last Orders</b></h6>
                </div>
            </div>

            <div class="col-4">
                <div class="card card-padding">
                    <h6><b>Deals</b></h6>
                    <br />
                        <div class="d-flex flex-row">
                            <div class="col-6">
                                <h5 class="text-start">Cold Coffee</h5>
                                <br />
                                <p class="text-start" style="font-size:small">Chilled coffee served over ice, sweetened and creamy</p>
                                <br />
                            </div>
                        <img src="#" class="rounded col-6" alt="Step 3 image" />
                        </div
                </div>
            </div>

            <div class="col-4">
                <div class="card card-padding">
                    <h6><b>Popular Products</b></h6>
                    <br />
                        <div class="d-flex flex-row">
                            <div class="col-6">
                                <h5 class="text-start">Espresso</h5>
                                <br />
                                <p class="text-start" style="font-size:small">Strong Italian coffee, base for drinks like lattes</p>
                                <br />
                            </div>
                        <img src="#" class="rounded col-6" alt="Step 3 image" />
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>

    .card-padding{
        margin: 5px;
    }

</style>


@code {

}